.tableContainer {
  display: flex;
  border-bottom: 1px solid #f5efef;
  padding: 10px;
  justify-content: space-evenly;
  flex-direction: row;
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid gray;
}

.tableTitle {
  font-weight: bold;

}

.tableColumn {
  font-size: 12px;
}

.stockPrice {
  font-weight: bold;
}

.rateContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 121px;
}

.progressContainer {
  display: flex;
  font-size: 12px;
}

.dollarValue {
  color: red;
  padding-right: 10px;
  min-width: 50px;
}

.percentageChange {
  color: red;
  padding-right: 10px;
}